/* Github Code Highlighting. */
@import "../../../node_modules/github-syntax-dark/lib/github-dark.css";
@import "./background.css";
@import "./frame.css";
@import "./welcome.css";
@import "./login.css";
@import "./settings.css";
@import "./news.css";

/*******************************************************************************
 *                                                                             *
 * Fonts                                                                       *
 *                                                                             *
 ******************************************************************************/

@font-face {
    font-family: 'Avenir Book';
    src: url('../fonts/Avenir-Book.ttf');
}

@font-face {
    font-family: 'Avenir Medium';
    src: url('../fonts/Avenir-Medium.ttf');
}

@font-face {
    font-family: 'Ringbearer';
    src: url('../fonts/Ringbearer.ttf');
}

/*******************************************************************************
 *                                                                             *
 * Element Styles                                                              *
 *                                                                             *
 ******************************************************************************/

/* Reset body, html, and div presets. */
body, html, div {
    margin: 0px;
    padding: 0px;
}

/* Reset p presets. */
p {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

/* Set default font and color. */
body, button {
    font-family: 'Avenir Book';
    color: white;
}

/*body {
    background: url('./../images/backgrounds/0.jpg') no-repeat center center fixed;
    background-size: cover;
}*/

/*******************************************************************************
 *                                                                             *
 * Landing View (Nav Bar)                                                      *
 *                                                                             *
 ******************************************************************************/

.navBar {
    /*background-color: #181A1B;*/
    /*background-color: rgba(0, 0, 0, 0.5);*/
    position: absolute;
    width: 100vw;
    height: 12%;
}

.settings {
    position: absolute;
    left: 96%;
    bottom: 1vh;
}

.user_icon {
    display: block;
    float: right;
    right: 5vw;
    padding-top: 1.5%;
    padding-right: 1.5%;
}

.status {
    float: left;
    left: 5vw;
    margin-top: .5%;
    margin-left: 0.75%;
}

#footerBar {
    border: none;
    bottom: 1px;
    width: 100vw;
    height: 5%;
    position: relative;
    transition: right 2s ease;
}

.news {
    position: absolute;
    top: 45vh;
    left: 1vw;
    z-index: 3;
    transition: left 2s ease;
}

/*******************************************************************************
 *                                                                             *
 * Landing View (Structural Styles)                                            *
 *                                                                             *
 ******************************************************************************/

/* Main content container. */
#landingContainer {
    height: 100%;
    position: relative;
    transition: background 2s ease;
    overflow-y: hidden;
    overflow-x: hidden;
}

/* Upper content container. */
#landingContainer > #upper {
    position: relative;
    transition: right 2s ease;
    top: 0px;
    height: 77%;
    display: flex;
}

#landingContainer > #upper > #left {
    display: inline-flex;
    width: 15%;
    height: 100%;
    justify-content: flex-end;
}

#landingContainer > #upper > #content {
    display: inline-flex;
    width: 70%;
    height: 100%;
}

#landingContainer > #upper > #right {
    display: inline-flex;
    width: 15%;
    height: 100%;
}

#lower {
    height: 18.5%;
    display: flex;
}

/* Lower content container. */
#landingContainer > #footerBar {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#landingContainer > #lower > #left {
    position: relative;
    transition: right 2s ease;
    top: 0px;
    height: 100%;
    width: 33%;
    display: inline-flex;
    justify-content: center;
}

#landingContainer > #lower > #left #content {
    position: relative;
    top: 25px;
    display: inline-flex;
    line-height: 50px;
    left: 50px;
}

#landingContainer > #lower > #center {
    position: relative;
    transition: right 2s ease;
    top: 0px;
    height: 100%;
    width: 34%;
    display: inline-flex;
    justify-content: center;
}

#landingContainer > #lower > #center #content {
    position: relative;
    z-index: 500;
    transition: right 2s ease;
    top: 10px;
}

#landingContainer > #lower > #right {
    position: relative;
    transition: right 2s ease;
    top: 0px;
    height: 100%;
    width: 33%;
    display: inline-flex;
}

/*******************************************************************************
 *                                                                             *
 * Landing View (Top Styles)                                                   *
 *                                                                             *
 ******************************************************************************/

/* * *
* Landing View (Top Styles) | Left Content
* * */

/* Logo image. */
#image_seal {
    height: 70px;
    width: auto;
    position: relative;
    border: 2px solid white;
    box-sizing: border-box;
    border-radius: 50%;
}

/* Logo container styles. */
#image_seal_container {
    position: absolute;
    height: 110px;
    width: 110px;
    right: 30px;
    margin-top: 5px;
}

/* Logo container styles w/ update. */
#image_seal_container[update] {
    cursor: pointer;
    z-index: 5;
}

#image_seal_container[update]:before,
#image_seal_container[update]:after {
    cursor: pointer;
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    border-radius: 50%;
    box-shadow: 0 0 15px #43c628;
    animation: glow-grow 4s ease-out infinite;
    background: rgba(0, 0, 0, 0.15);
}

#image_seal_container[update]:before {
    animation-delay: 2s;
}

/* Update available tooltip styles. */
#updateAvailableTooltip {
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    width: 100px;
    background-color: rgb(0, 0, 0);
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 2px;
    position: absolute;
    z-index: 1;
    top: 100%;
    font-family: 'Avenir Medium';
    font-size: 15px;
    transition: visibility 0s linear 0.25s, opacity 0.25s ease;
}

#updateAvailableTooltip::after {
    content: " ";
    position: absolute;
    left: 50%;
    bottom: 100%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgb(0, 0, 0) transparent;
}

#image_seal_container[update]:hover #updateAvailableTooltip {
    visibility: visible;
    opacity: 0.8;
    transition-delay: 0s;
}

/* Update available animation. */
@keyframes glow-grow {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    80% {
        opacity: 1;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}

/* * *
* Landing View (Bottom Styles) | Right Content
* * */

/*  Wrapper container for top, right content. */
#rightContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50px;
    align-items: flex-start;
    height: calc(100% - 50px);
}

/* Right hand user content container. */
#user_content {
    box-sizing: border-box;
    position: absolute;
    right: 1vw;
    padding-top: 1.5%;
    padding-right: 1.5%;
}

/* User profile avatar container. */
#avatarContainer {
    border-radius: 15px;
    border: 2px solid #cad7e1;
    box-sizing: border-box;
    height: 80px;
    width: 80px;
    box-shadow: 0 6px 5px 0 rgba(0, 0, 0, 0.53);
    overflow: hidden;
    position: relative;
    background: rgba(1, 2, 1, 0.5) no-repeat center;
    background-size: 70%;
    /*    margin-left: 5vw;
        padding-left: 5vw;*/
}

/* Avatar edit overlay. */
#avatarOverlay {
    opacity: 0;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.25s ease;
    font-weight: bold;
    letter-spacing: 2px;
    background-color: rgba(0, 0, 0, 0.35);
    -webkit-user-select: none;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#avatarOverlay:hover,
#avatarOverlay:focus {
    opacity: 1;
}

#avatarOverlay:active {
    background-color: rgba(0, 0, 0, 0.45);
}

/* User profile name text. */
#user_text {
    display: inline-block;
    margin-top: 3.5vh;
    font-size: 17px;
    min-width: 135px;
    font-weight: 900;
    letter-spacing: 2px;
    text-shadow: 0px 0px 20px black;
    position: absolute;
    left: -9.4vw;
    text-align: left;
    -webkit-user-select: initial;
}

/* Social media icon content container. */
#mediaContent {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    height: calc(100% - 95px);
    width: 70px;
    align-items: center;
}

/* Container object which wraps an icon to ensure fluid transitions. */
.mediaContainer {
    display: inline-block;
    justify-content: center;
    align-items: center;
    height: 10px;
    right: 5vw;
    float: right;
    position: relative;
}

/* Divider bar between the external and internal icons. */
.mediaDivider {
    height: 1px;
    width: 14px;
    background: rgb(255, 255, 255);
    margin: 10px 0px;
}

/* Social media icon shared styles. */
.mediaSVG {
    fill: #ffffff;
    height: 25px;
    width: 35px;
    transition: 0.25s ease;
    cursor: pointer;
}

.mediaSVG:hover,
.mediaURL:focus .mediaSVG,
.mediaSVG:active {
    height: -50px;
}

/* Social media URL shared styles. */
.mediaURL {
    outline: none;
}

/* Internal media button shared styles. */
.mediaButton {
    background: none;
    border: none;
    padding: 0px;
    display: flex;
    align-items: center;
    outline: none;
}

#settingsMediaContainer {
    position: relative;
}

/* Settings icon colors. */
#settingsSVG {
    fill: #ffffff;
    height: 55px;
    width: 50px;
}

#settingsSVG:hover {
    fill: #838383;
}

/* Settings icon colors. */
#refreshSVG {
    fill: #ffffff;
}

#refreshSVG:hover {
    fill: #838383;
}

/* Settings tooltip styles. */
#settingsTooltip {
    visibility: hidden;
    opacity: 0;
    width: 75px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.75);
    text-align: center;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    right: 130%;
    font-size: 12px;
    line-height: 20px;
    transition: visibility 0s linear 0.25s, opacity 0.25s ease;
}

#settingsTooltip::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent rgba(0, 0, 0, 0.75);
}

.mediaButton:hover #settingsTooltip,
.mediaButton:focus #settingsTooltip,
.mediaButton:active #settingsTooltip {
    visibility: hidden;
    opacity: 1;
    transition-delay: 0s;
}

/* Link icon colors. */
#linkSVG:hover,
#linkSVG:focus #linkSVG {
    fill: #f7ff39;
}

#linkSVG:active {
    fill: #c6d231;
}

/* Twitter icon colors. */
#twitterSVG:hover,
#twitterSVG:focus {
    fill: #1da1f2;
}

#twitterSVG:active {
    fill: #176ea9;
}

/* Youtube icon colors. */
#youtubeSVG:hover,
#youtubeSVG:focus {
    fill: #f00;
}

#youtubeSVG:active {
    fill: #b20202;
}

/* Discord icon colors. */
#discordSVG:hover,
#discordSVG:focus {
    fill: #7288d9;
}

#discordSVG:active {
    fill: #4b5a91;
}

/*******************************************************************************
 *                                                                             *
 * Landing View (Bottom Styles)                                                *
 *                                                                             *
 ******************************************************************************/

/* Style for a general label on the bottom of the landing view. */
.bot_label {
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: bold;
    text-shadow: 0px 0px 0px #bebcbb;
}

/* Divider used on the bottom of the landing view. */
.bot_divider {
    height: 45px;
    width: 1px;
    background: rgba(107, 105, 105, 0.7);
    margin-left: 70px;
    margin-right: 30px;
}

/* * *
* Landing View (Bottom Styles) | Left Content
* * */

/* Maintains maximum width on the status bar. */
#server_status_wrapper {
    position: absolute;
    width: 100%;
    top: 45%;
    text-align: center;
    left: -0.5vw;
}

/* Span which displays the player count of the selected server. */
#player_count {
    color: #949494;
    font-size: 15px;
    font-weight: 900;
    text-shadow: 0px 0px 20px #949494;
    margin-left: 10px;
}

/* Wrapper container for the mojang status bar. */
#mojangStatusWrapper {
    position: absolute;
    display: flex;
    cursor: pointer;
}

/* Icon which displays the status of the mojang services. */
#mojang_status_icon {
    font-size: 30px;
    color: #848484;
    margin-left: 2px;
    margin-top: -4%;
    font-family: 'sans-serif';
}

/* Tooltip which displays more details about the mojang statuses. */
#mojangStatusTooltip {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    width: 210px;
    min-height: 150px;
    background-color: rgba(0, 0, 0, 0.35);
    color: #fff;
    border-radius: 4px;
    padding: 5px 10px;
    z-index: 1;
    font-family: 'Avenir Medium';
    font-size: 12px;
    transition: visibility 0s linear 0.25s, opacity 0.25s ease;
    bottom: calc(100% + 17px);
    left: 27%;
    transform: translateX(-50%);
    margin-left: 50%;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    cursor: default;
}

#mojangStatusTooltip:after {
    content: " ";
    position: absolute;
    left: 50%;
    top: 90%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.75) transparent transparent transparent;
}

#mojangStatusWrapper:hover #mojangStatusTooltip {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

/* Tooltip title for the mojang statuses. */
#mojangStatusTooltipTitle {
    font-size: 16px;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
    letter-spacing: 1px;
}

/* Wrapper container for the non essential services title. */
#mojangStatusNEContainer {
    display: flex;
    align-items: center;
    margin: 10px 0px;
}

/* White bar which surrounds the non essential service title. */
.mojangStatusNEBar {
    height: 2px;
    width: 100%;
    background: white;
}

/* Non essential service title text. */
#mojangStatusNETitle {
    font-size: 16px;
    padding: 0px 6px;
    text-align: center;
    letter-spacing: 1px;
}

/* Wrapper container for mojang service information. */
.mojangStatusContainer {
    display: flex;
}

/* Displays the name of the mojang service. */
.mojangStatusName {
    width: 100%;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 26px;
    padding: 5px 0px;
}

/* Displays the status of the mojang service. */
.mojangStatusIcon {
    margin-right: 10px;
    font-size: 25px;
    color: #848484;
}

/* * *
* Landing View (Bottom Styles) | Center Content
* * */

/* Button which opens the news view. */
#newsButton {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

#newsButton:hover #newsButtonText,
#newsButton:focus #newsButtonText {
    text-shadow: 0px 0px 20px #fff, 0px 0px 20px #fff;
}

#newsButton:active {
    color: #c7c7c7;
    text-shadow: 0px 0px 20px #c7c7c7, 0px 0px 20px #c7c7c7;
}

#newsButton:hover #newsButtonSVG,
#newsButton:focus #newsButtonSVG {
    -webkit-filter: drop-shadow(0px 0px 2px #fff);
    transition-duration: 0.65s;
    transform: rotate(270deg);
}

#newsButton:active #newsButtonSVG .arrowLine {
    stroke: #c7c7c7;
}

#newsButton:active #newsButtonSVG {
    -webkit-filter: drop-shadow(0px 0px 2px #c7c7c7);
}

#newsButton:disabled #newsButtonSVG .arrowLine {
    stroke: rgba(255, 255, 255, 0.75);
}

/* Icon which indicates there is new news. */
#newsButtonAlert {
    width: 5px;
    height: 5px;
    position: absolute;
    border-radius: 50%;
    background: red;
    right: -1px;
    top: 50%;
}

.badge {
    color: white;
}

/* Arrow image which floats above the news button. */
#newsButtonSVG {
    height: 15px;
    margin-left: -2px;
    transition: 0.25s ease;
    transform: rotate(90deg);
}

/* Span which contains the news button text. */
#newsButtonText {
    color: white;
    font-weight: 900;
    letter-spacing: 2px;
    text-shadow: 0px 0px 0px #bebcbb;
    font-size: 20px;
    line-height: 50px;
    display: flex;
    transition: 0.25s ease;
}

/* * *
* Landing View (Bottom Styles) | Right Content
* * */

/* Main launch content container. */
#landingContainer > #lower > #center #launch_content {
    position: relative;
    /*    top: -15%;
        left: 50%;*/
}

/* The launch button. */
#launch_button {
    background: none;
    border: none;
    cursor: pointer;
    font-family: 'Avenir Medium';
    font-weight: 900;
    letter-spacing: 6px;
    text-shadow: 0px 0px 0px #4F2D6A;
    font-size: 40px;
    padding: 0px;
    /*    left: -2%;*/
    transition: 0.25s ease;
    outline: none;
    color: #38B6FF;
}

#launch_button:hover,
#launch_button:focus {

}

#launch_button:active {
}

#launch_button:disabled {
    color: #c7c7c7;
    cursor: default;
    pointer-events: none;
}

/* Launch details main container, hidden until launch processing begins. */
#launch_details {
    position: relative;
    top: 25px;
    display: none;
    right: -4vw;
}

/* Left side of launch details container, displays percentage and a divider. */
#launch_details_left {
    display: flex;
}

/* Span which displays percentage complete. */
#launch_progress_label {
    font-weight: 900;
    letter-spacing: 1px;
    text-shadow: 0px 0px 0px #bebcbb;
    font-size: 20px;
    min-width: 53.21px;
    max-width: 53.21px;
    text-align: right;
}

/* Right side of launch details container, displays progress bar and details. */
#launch_details_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    left: -3.5vw;
}

/* Button which opens the server selection view. */
#server_selection_button {
    position: absolute;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    line-height: 24px;
    padding: 0px;
    transition: 0.25s ease;
    left: -28%;
    top: 30%;
    width: 150%;
}

#server_selection_button:hover,
#server_selection_button:focus {
    text-shadow: 0px 0px 15px #fff, 0px 0px 15px #fff, 0px 0px 15px #fff;
}

#server_selection_button:active {
    color: #c7c7c7;
    text-shadow: 0px 0px 15px #c7c7c7, 0px 0px 15px #c7c7c7, 0px 0px 15px #c7c7c7;
}

/* Progress bar styles. */
#launch_progress[value] {
    height: 3px;
    width: 265px;
    -webkit-appearance: none;
}

#launch_progress[value]::-webkit-progress-bar {
    background-color: transparent;
}

#launch_progress[value]::-webkit-progress-value {
    background-color: #fff;
}

/* Span which displays information about the status of the launch process. */
#launch_details_text {
    font-size: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/*******************************************************************************
 *                                                                             *
 * Overlay View (overlay.ejs)                                                  *
 *                                                                             *
 ******************************************************************************/

/* * *
* Overlay View (Main Content)
* * */

/* Overlay container, placed over the main div. */
#overlayContainer {
    position: absolute;
    z-index: 500;
    top: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% - 22px);
    background: rgba(0, 0, 0, 0.50);
}

/* Main overlay content. */
#overlayContent {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: space-between;*/
    width: 400px;
    /*height: 35%;*/
    box-sizing: border-box;
    padding: 15px 0px;
    /* background-color: #424242; */
    text-align: center;
}

/* Main overlay content anchor styles. */
#overlayContent a,
#overlayDismiss {
    color: rgba(202, 202, 202, 0.75);
    transition: 0.25s ease;
}

#overlayContent a:hover,
#overlayContent a:focus,
#overlayDismiss:focus {
    color: rgba(255, 255, 255, 0.75);
}

#overlayContent a:active,
#overlayDismiss:active {
    color: rgba(165, 165, 165, 0.75);
}

/* Add spacing between overlay content elements. */
#overlayContent > *:first-child {
    margin-top: 0px !important;
}

#overlayContent > *:last-child {
    margin-bottom: 0px !important;
}

#overlayContent > * {
    margin: 8px 0px;
}

/* Overlay title styles. */
#overlayTitle {
    font-family: 'Avenir Medium';
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
    -webkit-user-select: initial;
}

/* Overlay description styles. */
#overlayDesc {
    font-size: 16px;
    font-weight: bold;
    -webkit-user-select: initial;
}

/* Div which contains action buttons. */
#overlayActionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Overlay acknowledge button styles. */
#overlayAcknowledge {
    background: none;
    border: 1px solid #ffffff;
    color: white;
    font-family: 'Avenir Medium';
    font-weight: bold;
    font-size: 20px;
    border-radius: 2px;
    padding: 0px 8.1px;
    cursor: pointer;
    transition: 0.25s ease;
}

#overlayAcknowledge:hover,
#overlayAcknowledge:focus {
    box-shadow: 0px 0px 10px 0px #fff;
    outline: none;
}

#overlayAcknowledge:active {
    border-color: rgba(255, 255, 255, 0.75);
    color: rgba(255, 255, 255, 0.75);
}

/* Overlay dismiss option styles. */
#overlayDismiss {
    font-weight: bold;
    font-size: 17px;
    color: rgba(149, 12, 0, 0.75);
    text-decoration: none;
    padding-top: 2.5px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

#overlayDismiss:hover {
    color: rgba(255, 255, 255, 0.75);
}

#overlayDismiss:active {
    color: rgba(165, 165, 165, 0.75);
}

/* * *
* Overlay View (Account Selection Content)
* * */

#accountSelectContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75%;
}

#accountSelectHeader {
    font-family: 'Avenir Medium';
    font-size: 27px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 25px;
}

#accountSelectList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 65%;
    min-height: 40%;
}

/* Scrollable div which lists the available servers. */
#accountSelectListScrollable {
    padding: 0px 5px;
    overflow-y: scroll;
}

#accountSelectListScrollable::-webkit-scrollbar {
    width: 5px;
}

#accountSelectListScrollable::-webkit-scrollbar-track {
    display: none;
}

#accountSelectListScrollable::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.50);
}

/* * *
* Overlay View (Server Selection Content)
* * */

/* Server selection content container. */
#serverSelectContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Server selection header. */
#serverSelectHeader {
    font-family: 'Avenir Medium';
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 25px;
}

/* Wrapper div for the list of available servers. */
#serverSelectList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 65%;
    min-height: 40%;
}

#serverSelectListScrollable {
    display: flex;
    padding-bottom: 20px;
    overflow-y: hidden;
    overflow-x: auto;
    width: 80vw;
}

#serverSelectListScrollable::-webkit-scrollbar-track {

}

#serverSelectListScrollable::-webkit-scrollbar-thumb {
    border: 1px solid #222222;
    background-color: rgba(125, 125, 125, 0.5);
}

#serverSelectListScrollable::-webkit-scrollbar {
    background-color: rgba(179, 179, 179, 0.3);
    height: 15px;
}

#serverSelectListScrollable > .serverListing {
    margin-left: 15px;
    min-width: 270px;
    max-width: 270px;
}

/*#serverSelectListScrollable > .serverListing:first-child {*/
/*    margin-left: 10px;*/
/*}*/
/*#serverSelectListScrollable > .serverListing:last-child {*/
/*    margin-right: 10px;*/
/*}*/

/* Content container for a server listing. */
.serverListing {
    border: none;
    padding: 6px;
    height: 450px;
    display: flex;
    vertical-align: top;
    opacity: 0.75;
    transition: 0.25s ease;
    cursor: pointer;
    position: relative;
    background: rgba(131, 131, 131, 0.25);
}

.serverListing[selected] {
    cursor: default;
    opacity: 1.0;
    height: 500px;
}

.serverListing:hover,
.serverListing:focus {
    outline: none;
    opacity: 1.0;
}

.serverSelectedText {
    visibility: hidden;
    color: #b6b6b6;
    font-weight: bold;
    padding-top: 15px;
    font-size: 15px;
    font-family: "Avenir Medium";
}

.serverListing[selected]  {
    border: lightgreen solid 1px;
    transition: 0.25s ease;
}

.accountListing {
    color: white;
    border: 1px solid rgba(126, 126, 126, 0.57);
    border-radius: 3px;
    padding: 5px 45px;
    width: 250px;
    display: inline;
    justify-content: flex-start;
    align-items: center;
    opacity: 0.6;
    transition: 0.25s ease;
    cursor: pointer;
    position: relative;
    background: rgba(0, 0, 0, 0.25);
}

.accountListing[selected] {
    cursor: default;
    opacity: 1.0;
}

.accountListing:hover,
.accountListing:focus {
    outline: none;
    opacity: 1.0;
}

.accountListingName {
    display: flex;
    height: 100%;
    width: 100%;
    padding-left: 10px;
}

#accountSelectListScrollable > .accountListing:not(:first-child):not(:last-child) {
    margin: 5px 0px;
}

#accountSelectListScrollable > .accountListing:first-child {
    margin-bottom: 5px;
}

#accountSelectListScrollable > .accountListing:last-child {
    margin-top: 5px;
}

/* Server listing image. */
.serverListingImg {
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #fff;
    width: 50%;
    margin-top: 10%;
}

/* Content container for the server listing's details. */
.serverListingDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: auto;
    vertical-align: top;
}

/* The name of the server listing. */
.serverListingName {
    font-size: 25px;
    font-weight: bold;
    padding: 7.5px;
}

/* Description for the server listing. */
.serverListingDescription {
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    /*font-weight: bold;*/
}

/* Content container for the server listing's information. */
.serverListingInfo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 7.5px;
    margin-top: 7.5px;
}

/* The minecraft version of the server listing. */
.serverListingRevision {
    font-size: 18px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 10px;
    font-weight: bold;
    height: 20px;
    width: 100%;
    border-radius: 5%;
    background: rgba(174, 114, 255, 0.8);
    padding: 1px 2px;
}

/* The revision version of the server's manifest. */
.serverListingMCVersion {
    color: #969696;
    font-size: 10px;
    line-height: 10px;
    padding: 4px 3px;
}

/* Star which indicates the default (main) server. */
.serverListingStarWrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 12px;
    position: relative;
}

/* Tooltip which displays when hovering over the star. */
.serverListingStarTooltip {
    visibility: hidden;
    opacity: 0;
    width: 65px;
    background-color: rgba(0, 0, 0, 0.40);
    text-align: center;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    left: 130%;
    font-size: 10px;
    transition: visibility 0s linear 0.25s, opacity 0.25s ease;
}

.serverListingStarTooltip::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgba(0, 0, 0, 0.40) transparent transparent;
}

.serverListingStarWrapper:hover .serverListingStarTooltip {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

/* Content container which contains the server select actions. */
#serverSelectActions,
#accountSelectActions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

/* Server selection confirm button styles. */
#serverSelectConfirm,
#accountSelectConfirm {
    background: none;
    border: 1px solid #ffffff;
    color: white;
    font-family: 'Avenir Medium';
    font-weight: bold;
    font-size: 30px;
    border-radius: 2px;
    padding: 0px 10px;
    cursor: pointer;
    transition: 0.25s ease;
    min-height: 20.67px;
}

#serverSelectConfirm:hover,
#serverSelectConfirm:focus,
#accountSelectConfirm:hover,
#accountSelectConfirm:focus {
    box-shadow: 0px 0px 10px 0px #fff;
    outline: none;
}

#serverSelectConfirm:active,
#accountSelectConfirm:active {
    border-color: rgba(255, 255, 255, 0.75);
    color: rgba(255, 255, 255, 0.75);
}

/* Server selection cancel button styles. */
#serverSelectCancel,
#accountSelectCancel {
    font-weight: bold;
    font-size: 17px;
    color: rgba(149, 12, 0, 0.75);
    text-decoration: none;
    padding-top: 2.5px;
    transition: 0.25s ease;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

#serverSelectCancel:hover,
#serverSelectCancel:focus,
#accountSelectCancel:hover,
#accountSelectCancel:focus {
    color: rgba(255, 255, 255, 0.75);
}

#serverSelectCancel:active,
#accountSelectCancel:active {
    color: rgba(165, 165, 165, 0.75);
}

/*******************************************************************************
 *                                                                             *
 * Loading Element (app.ejs)                                                   *
 *                                                                             *
 ******************************************************************************/

/* Loading container, placed above everything. */
#loadingContainer {
    position: absolute;
    z-index: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% - 22px);
}

/* Loading content container. */
#loadingContent {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Spinner container. */
#loadSpinnerContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Stationary image for the spinner. */
#loadCenterImage {
    position: absolute;
    width: 400px;
    height: auto;
}

.pulsing {
    transform: scale(1);
    animation: pulse 1s infinite;
}

/* Rotating animation for the spinner. */
@keyframes pulse {
    0% {
        transform: scale(0.9);
    }

    70% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.9);
    }
}